{% extends 'base.html' %}
{% block content %}
<header class="header__about">
        <div class="container">
           <div class="svg-about">
               <img src="/static/img/sto/artboard-1.svg" alt="">
           </div>
           <div class="about-block">
               <div class="about-left">
                   <div class="about__title">
                    Про Нас
                   </div>
                   <img src="/static/img/sto/shutterstock-1529005883.png" alt="">
               </div>
               <div class="about-right">
                   <div class="sto__sub">
                    Наша компанія  заснована в 2011 році. За  період роботи  ми  заслужили довіру компаній,  показали себе надійними партнерами їх бізнесу тому що з повною відповідальністю підходимо до поставлених завдань.
                    
                   <p>
                    Ми спеціалізуємось на перевезенні різноманітних вантажів по всій території України та за кордоном. Досвід роботи, кваліфікований персонал та командний дух  дає можливість виконувати завдання із різним рівнем складності з максимальним результатом. 
                   </p>
                    
                   </div>
                   <div class="about__link-block">
                       <div class="about-prof">
                        <div class="svg-about">
                            <img src="/static/img/sto/users.svg" alt="">
                        </div>
                        <div class="sto__sub">
                            Наші логісти допоможуть вам на кожному з етапів співпраці-від консультації до моменту доставки вантажу. 
                        </div>
                       </div>
                       <div class="about-prof">
                        <div class="svg-about">
                            <img src="/static/img/sto/life-buoy.svg" alt="">
                        </div>
                        <div class="sto__sub">
                            Водії вчасно і з гарантією перевезуть вантаж до місця призначення. Компанія пропонує  35  автомобілів  Вольво Євро 5 та Євро 6. 
                        </div>
                       </div>
                       <div class="about-prof">
                        <div class="svg-about">
                            <img src="/static/img/sto/navigation.svg" alt="">
                        </div>
                        <div class="sto__sub">
                            На кожному нашому   автомобілі  встановлено  GPS-трекер, який передає інформацію про місцезнаходження машини та вашого вантажу в будь-який час.
                        </div>
                       </div>
                   </div>

               </div>
           </div>
           <form class="last-form">
            <div class="green-form-text">
                Залишіть заявку і наші менеджери зв’яжуться з вами
            </div>
            <div class="last-input-wrap">
                <input class="field_1" type="text" placeholder="Ім'я">
                <input class="field_2" type="phone" placeholder="Номер телефону">
                <input class="field_3" type="email" placeholder="Ваш Емейл">
                <input class="contact_us form-last-btn hvr-wobble-horizontal" type="button" name="Надіслати" value="Надіслати">
            </div>
        </form>
        </div>
        <!-- /.container -->
    </header>
{% endblock  %}
    
    <!-- /.header -->

