{% extends 'base.html' %}
{% block content %}
 <header class="header__auto__park">
        <div class="container">
			<form method="post" action="" class="formA cmxform vakance" id="modal-form" style="display:none;">
			
					
						
							
				<div class="inp-vak-wrap">
					<label class="label__style" for="firstname">Ім’я (ПІП)</label class="label__style">
					<input id="firstname" name="firstname" placeholder="Андрієнко Андій Андрійович" type="text">
				</div>
				<div class="inp-vak-wrap">
					<label class="label__style" for="email">Email</label>
					<input id="email" name="email" placeholder="clientmail@mail.com" type="email">
				</div>
				<div class="inp-vak-wrap">
					<label class="label__style" for="number">Номер телефону</label>
					<input id="number" name="number" placeholder="+3 8 096 123 45 67" type="phone">
				</div>

				<div class="res-wrap">
					<div class="res-text">
						Приблизна вартість:
					</div>
					<div id="main-result" class="main-result">
						
					</div>
				</div>

					<input class="submit_vak hvr-wobble-horizontal" type="submit" value="Оформити">

		  </form>
			<div class="contacts-top">
				<div class="about__title">
					Наші самоскиди
				</div>
				<div class="sto__sub">
					Наша компанія  заснована в 2011 році. За  період роботи  ми  заслужили довіру компаній,  показали себе надійними партнерами їх бізнесу тому що з повною відповідальністю підходимо до поставлених завдань.

				
					

					<p>
						Ми спеціалізуємось на перевезенні різноманітних вантажів по всій території України та за кордоном. Досвід роботи, кваліфікований персонал та командний дух  дає можливість виконувати завдання із різним рівнем складності з максимальним результатом. 
					</p>

				</div>
			</div>
			<div class="auto-tab-link-block">
					<div data-tab="tab_1" class="tab__link-auto-prof tab__link-auto-prof_active">
						Рефрижиратор
					</div>
					<div data-tab="tab_2" class="tab__link-auto-prof">
						Самоскид
					</div>
					<div data-tab="tab_3" class="tab__link-auto-prof">
						Рідинні бочки
					</div>
					<div data-tab="tab_4" class="tab__link-auto-prof">
						Цистерни сипучі
					</div>
					<div data-tab="tab_5" class="tab__link-auto-prof">
						Тент
					</div>
				</div>
			</div>
	
	</div>	
		<!-- /.container -->
		<div class="container">
			<div class="tab-auto-content-block">
				<div id="tab_1" class="tab-auto-content-prof tab-auto-content-prof_active">
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
							
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
				</div>
				<!-- tab_2============================================ -->
				<div id="tab_2" class="tab-auto-content-prof">
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
				</div>
				<!-- tab_3============================================ -->
				<div id="tab_3" class="tab-auto-content-prof">
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
				</div>
				<!-- tab_4============================================ -->
				<div id="tab_4" class="tab-auto-content-prof">
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
				</div>
				<!-- tab_5============================================ -->
				<div id="tab_5" class="tab-auto-content-prof">
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
					<div class="first-auto-mini-prof">
						<img src="/static/img/sto/load.png" data-src="/static/img/sto/group-4.png" alt="">
						<div class="first-wrap">
							<div class="first__title">
								MAN 23u 2k
							</div>
							<div class="first__type">
								Тип
							</div>
							<div class="first__sub">
								Рефрижиратор
							</div>
							<a href="#block_id_auto">
								<span class="first__btn">
									Обрати
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			{% include 'calculator.html' %}
		<!-- /.container -->
		
    </header>
{% endblock  %}
   
    <!-- /.header -->



   
	<!-- /.footer -->
    



