<div id="block_id_auto" class="title-wrap title-wrap_swipe">
				<div class="green-line">

				</div>
				<h2 class="main__title">
					Калькулятор вартості перевезення
				</h2>
			</div>
			<p class="auto__title">
				Наша висококваліфікована команда виконує діагностику, ремонт і технічне обслуговування вашого автомобіля . 
			</p>
			<div class="block-calculator">
				<div class="left-block-wrap">
					<div class="quest-block">
						<div class="quest-num">
							1
						</div>
						<div class="quest-text">
							Оберіть Пречіп 
						</div>
					</div>
					<div class="left-block">
						<div id="bl-1" class="left-prof">
							<div class="okey">
								<img src="/static/img/index/png-гал.png" alt="">
							</div>
							<img src="/static/img/Spinner.gif" alt="" class="calc-img">
							<div class="calk-text">
								Рефрижиратор
							</div>
						</div>
						<div id="bl-2" class="left-prof">
							<div class="okey">
								<img src="/static/img/index/png-гал.png" alt="">
							</div>
							<img src="/static/img/Spinner.gif" alt="" class="calc-img">
							<div class="calk-text">
								Самоскид
							</div>
						</div>
						<div id="bl-3" class="left-prof">
							<div class="okey">
								<img src="/static/img/index/png-гал.png" alt="">
							</div>
							<img src="/static/img/Spinner.gif" alt="" class="calc-img">
							<div class="calk-text">
								Рідинні бочки
							</div>
						</div>
						<div id="bl-4" class="left-prof">
							<div class="okey">
								<img src="/static/img/index/png-гал.png" alt="">
							</div>
							<img src="/static/img/Spinner.gif" alt="" class="calc-img">
							<div class="calk-text">
								Цистерни сипучі
							</div>
						</div>
						<div id="bl-5" class="left-prof">
							<div class="okey">
								<img src="/static/img/index/png-гал.png" alt="">
							</div>
							<img src="/static/img/Spinner.gif" alt="" class="calc-img">
							<div class="calk-text">
								Тент
							</div>
						</div>
					</div>
				</div>
				<div class="right-block-wrap">
					<div class="quest-block">
						<div class="quest-num">
							2
						</div>
						<div class="quest-text">
							Заповніть форму  
						</div>
					</div>
					<div class="right-block">
						<div class="form">
							<div class="input-wrap-fix">
									<div class="fix-input-wrap">
										<label for="input-test-1">Точка погрузки</label>
									<input type="text" name="input-test-1" class="input-main" placeholder="Місто, вулиця, номер буд.">
									</div>
									<div class="btn-abs-fixed">
										<img src="/static/img/index/map.svg" alt="">
										<div class="new-fix-line"></div>
									</div>
							</div>
							<div class="btn-add">+ Додати проміжний пункт?</div>
							<div class="input-new-wrap">
									
									<div class="input-wrap-add">
											<input type="text" name="input-test-2" class="input-add" placeholder="Місто, вулиця, номер буд.">
											<div class="btn-abs">
												<svg xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22">
													<g fill="none" fill-rule="evenodd" stroke="#B90404" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
														<path d="M1 5h18M17 5v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5m3 0V3a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2M8 10v6M12 10v6"/>
													</g>
													
												</svg>
												<div class="new-fix-line"></div>
												
											</div>
									</div>
							</div>
							<div class="input-wrap-fix input-wrap-fix-2">
									<div class="fix-input-wrap">
										<label for="input-test-2">Точка вигрузки</label>
									<input type="text" name="input-test-2" class="input-main" placeholder="Місто, вулиця, номер буд.">
									</div>
									<div class="btn-abs-fixed">
										<img src="/static/img/index/map.svg" alt="">
										<div class="new-fix-line"></div>
									</div>
							</div>
							<div class="btn-add-2">+ Додати точку вигрузки!?</div>
							<div class="input-new-wrap-2">
	
							</div>
							<div class="input-bottom">
									<div class="input-wrap">
											<label for="input-test-3">Кілометраж</label>
											<input class="bottom-inp bottom-inp-1" type="number" id="input-test-3" name="input-test-3" class="input-main" placeholder="100">
											
									</div>
									<div class="input-wrap">
											<label for="input-test-4">Тонаж</label>
											<input class="bottom-inp" type="number" id="input-test-4" name="input-test-4" class="input-main" placeholder="10">
											
									</div>
							</div>
							
								<div class="btn-result link-fanc" data-src="#modal-form">
									Розрахувати
								</div>
						
			
			
			
						</div>
					</div>
				</div>
			</div>   
			
		</div>