{% extends 'base.html' %}
{% block content %}
<header class="header__contacts">
        <div class="container">
        <div class="contacts-block">
			<div class="contacts-top">
				<div class="about__title">
					Контакти
				</div>
				<div class="sto__sub">
					Наша компанія  заснована в 2011 році. За  період роботи  ми  заслужили довіру компаній,  показали себе надійними партнерами їх бізнесу тому що з повною відповідальністю підходимо до поставлених завдань.

					<p>
						Ми спеціалізуємось на перевезенні різноманітних вантажів по всій території України та за кордоном. Досвід роботи, кваліфікований персонал та командний дух  дає можливість виконувати завдання із різним рівнем складності з максимальним результатом. 
					</p>

				</div>
			</div>
			<div class="contacts-bottom">
				<div class="contacts__link hvr-wobble-top">
					<div class="svg-contacts">
						<img src="/static/img/index/map-pin.svg" alt="">
					</div>
					<div class="contacts-text">
						м. Тернопіль, вул. Руська 25 А
					</div>
				</div>
				<div class="contacts__link hvr-wobble-top">
					<div class="svg-contacts">
						<img src="/static/img/index/phone.svg" alt="">
					</div>
					<a href="tel:+30981231223" class="contacts-text">+3 098 123 12 23</a>
				</div>
				<div class="contacts__link hvr-wobble-top">
					<div class="svg-contacts">
						<img src="/static/img/index/mail.svg" alt="">
					</div>
					<a href="mailto:info@agrologistyka.com" class="contacts-text">info@agrologistyka.com</a>
				</div>
			</div>
		</div>
		<div class="form-wrap">
              
			<form class="form-sto">
				<img src="/static/img/sto/screenshot-2019-12-16-at-22-24-21.png" class="form-abs2" alt="">
				<div class="form-sto__title">
					Запоніть контактну форму і ми зв’яжемось з вами
				</div>
				<div class="input-sto-wrap">
					<input type="text" class="field_1 input-sto" placeholder="Ім'я">
					<input type="text" class="field_2 input-sto" placeholder="Номер телефону">
					<input type="text" class="field_3 input-sto" placeholder="Ваш Емейл">
					
					<input class="contact_us form-sto-btn hvr-wobble-horizontal" type="button" name="Відправити" value="Відправити">
				</div>
				
			</form>
		</div>
        </div>
        <!-- /.container -->
    </header>
{% endblock  %}
    
    <!-- /.header -->



   
	<!-- /.footer -->
    









