{% extends 'base.html' %}
{% block content %}
 <header class="news-page">
        <div class="container">
			<div class="contacts-top">
				<div class="about__title">
					Новини
				</div>
				<div class="sto__sub">
					Наша компанія  заснована в 2011 році. За  період роботи  ми  заслужили довіру компаній,  показали себе надійними партнерами їх бізнесу тому що з повною відповідальністю підходимо до поставлених завдань.

					<p>
						Ми спеціалізуємось на перевезенні різноманітних вантажів по всій території України та за кордоном. Досвід роботи, кваліфікований персонал та командний дух  дає можливість виконувати завдання із різним рівнем складності з максимальним результатом. 
					</p>

				</div>
				<p> {{ post.title }} </p>
				<p> {{ post.content|safe }} </p>
			</div>
		<!-- /.container -->
		
    </header>
{% endblock  %}