{% extends 'base.html' %}
{% block content %}
<header class="header__sto">
        <div class="container">
            <div class="sto-block">
                <div class="sto-left">
                    <div class="sto__title">
                        СТО
                    </div>
                    <div class="sto__sub">
                        Сервіс Технічного Обслуговування
                    </div>
                    <img src="/static/img/sto/shutterstock-509128729.jpg" alt="">
                </div>
                <div class="sto-right">
                    <div class="sto__sub">
                        Сьогодення - це ера нових можливостей та безкінечних ідей. І ми в ньому крокуємо попереду.  Ми відкриваємо нові світи та нову сторінку в історії ремонту вантажних автомобілів.  Наша висококваліфікована команда виконує діагностику, ремонт і технічне обслуговування вашого автомобіля. Підбере та встановить запчастини високої якості та в мінімальні терміни . Ми з великою шаною та повагою ставимося та  піклуємся про кожного нашого клієнта , тому індивідуально підходимо до  кожного.
                    </div>
                    <div class="sto-text">
                        Основною нашою ціллю  є задовільнити потреби клієнта  та в максимально короткий термін вирішити завдання . Ми піклуємося про своїх працівників та сприяємо технічному розвитку та навчанню
                    </div>
                </div>

                
            </div>
            <div class="pref-wrap-sto">
                <div class="pref-sto-left">
                    <div class="title-wrap">
                        <div class="green-line">
        
                        </div>
                        <h2 class="main__title">
                            Ми пропонуємо  ремонт:
                        </h2>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Ремонт ходової
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Заміна технічних рідин
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Ремонт систем охолодження
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Ремонт паливної апаратури
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Ремонт КПП
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Ремонт тормозної системи
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Ремонт підвіски
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Ремонт двигуна і навісного обладнання
                        </div>
                    </div>
                </div>
                <div class="pref-sto-right">
                    <div class="title-wrap">
                        <div class="green-line">
        
                        </div>
                        <h2 class="main__title">
                            Послуги:
                        </h2>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Пневматика
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Електрика
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Зварювальника
                        </div>
                    </div>
                    <div class="pref__link-sto">
                        <div class="plus">
                            <img src="/static/img/index/plus.png" alt="">
                        </div>
                        <div class="pref-text">
                            Комп’ютерної діагностики
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-wrap">
              
                <form action="test.php" class="form-sto">
                    <img data-src="/static/img/sto/shutterstock-1081186148.png" class="form-abs" alt="">
                    <div class="form-sto__title">
                        Залишіть заявку на СТО і наші менеджери зв’яжуться з вами
                    </div>
                    <div class="input-sto-wrap">
                        <input type="text" class="input-sto" placeholder="Ім'я">
                        <input type="text" class="input-sto" placeholder="Номер телефону">
                        <input type="text" class="input-sto" placeholder="Ваш Емейл">
                        <div class="select">
                            <div class="select__input">
                                <div class="field_text">Вантажівка</div>
                                <div class="field__icon">
                                    <img src="/static/img/sto/input-arrow.png" alt="">
                                </div>
                                <input type="hidden" name="" class="form_select" value="test3">
                            </div>
                            <div class="select__wrap" id="style-1">
                                <div class="select__wrap_item" data-id="test0">Вантажівка</div>
                                <div class="select__wrap_item" data-id="test1">л</div>
                                <div class="select__wrap_item" data-id="test2">а</div>
                                <div class="select__wrap_item" data-id="test3">н</div>
                                <div class="select__wrap_item" data-id="test4">т</div>
                                <div class="select__wrap_item" data-id="test5">а</div>
                                <div class="select__wrap_item" data-id="test67">ж</div>
                                <div class="select__wrap_item" data-id="test64">і</div>
                                <div class="select__wrap_item" data-id="test74">в</div>
                                <div class="select__wrap_item" data-id="test84">к</div>
                                <div class="select__wrap_item" data-id="test74">а</div>
                                
                                
                            </div>
                        </div>
                        <div class="select">
                            <div class="select__input">
                                <div class="field_text">Модель</div>
                                <div class="field__icon">
                                    <img src="/static/img/sto/input-arrow.png" alt="">
                                </div>
                                <input type="hidden" name="" class="form_select" value="test3">
                            </div>
                            <div class="select__wrap">
                                <div class="select__wrap_item" data-id="test04">Модель</div>
                                <div class="select__wrap_item" data-id="test01">о</div>
                                <div class="select__wrap_item" data-id="test02">а</div>
                                <div class="select__wrap_item" data-id="test03">н</div>
                                <div class="select__wrap_item" data-id="test04">т</div>
                                <div class="select__wrap_item" data-id="test14">а</div>
                                <div class="select__wrap_item" data-id="test24">ж</div>
                                <div class="select__wrap_item" data-id="test34">і</div>
                                <div class="select__wrap_item" data-id="test44">в</div>
                                <div class="select__wrap_item" data-id="test54">к</div>
                                <div class="select__wrap_item" data-id="test64">а</div>
                                
                                
                            </div>
                        </div>
                        <div class="select">
                            <div class="select__input">
                                <div class="field_text">Сервіс</div>
                                <div class="field__icon">
                                    <img src="/static/img/sto/input-arrow.png" alt="">
                                </div>
                                <input type="hidden" name="" class="form_select" value="test3">
                            </div>
                            <div class="select__wrap">
                                <div class="select__wrap_item" data-id="test44">Сервіс</div>
                                <div class="select__wrap_item" data-id="test51">х</div>
                                <div class="select__wrap_item" data-id="test62">а</div>
                                <div class="select__wrap_item" data-id="test73">н</div>
                                <div class="select__wrap_item" data-id="test84">т</div>
                                <div class="select__wrap_item" data-id="test74">а</div>
                                <div class="select__wrap_item" data-id="test64">ж</div>
                                <div class="select__wrap_item" data-id="test54">і</div>
                                <div class="select__wrap_item" data-id="test44">в</div>
                                <div class="select__wrap_item" data-id="test34">к</div>
                                <div class="select__wrap_item" data-id="test24">а</div>
                                
                                
                            </div>
                        </div>
                        <input class="form-sto-btn hvr-wobble-horizontal" type="button" name="Відправити" value="Відправити">
                    </div>
                    
                </form>
            </div>
        </div>
        <!-- /.container -->
    </header>
{% endblock  %}